.alcoholic {
    background-color: lightblue;
    max-width: 80px;
}

.non-alcoholic {
    background-color: lightgreen;
    max-width: 110px;
}

.alcoholic, .non-alcoholic {
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 1.5px;
}

.card {
    height: 130px;
}

p {
    font-size: 14px;
    line-height: 18px;
}

img.img-fluid {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 81%;
}

a.col-10 {
    font-weight: bolder;
    color: black;
    cursor: context-menu;
}